@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;  /* Use smooth scroll behavior */
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom scrollbar width */
::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Thumb color */
  border-radius: 10px; /* Round the corners of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}
